<html lang="{{@site.locale}}">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{meta_title}}</title>
        <link rel="stylesheet" href="{{asset 'built/screen.css'}}" />
        <link rel="stylesheet" href="{{asset 'built/global.css'}}" />

        {{ghost_head}}
    </head>

    <body>

        <header class="outer gh-head">
            <nav class="gh-head-nav inner">
                <div class="gh-head-left">
                    <a href="/" class="gh-head-title">{{@site.title}}</a>
                    {{navigation}}
                </div>

                <div class="gh-head-right">
                    <button class="nav-search" data-ghost-search>{{> "icons/search"}}</button>
                    {{#unless @member}}
                        <a href="#/portal/signin" data-portal="signin">Sign In</a>
                        <a class="gh-head-subscribe" href="#/portal/signup" data-portal="signup">Subscribe</a>
                    {{else}}
                        <a href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}}
                </div>
            </nav>
        </header>

        {{{body}}}

        <footer class="outer gh-foot">
            <div class="inner">
                <nav class="gh-foot-nav">
                    {{navigation type="secondary"}}
                </nav>
            </div>
        </footer>

        {{ghost_foot}}

    </body>

</html>