<html lang="{{@site.locale}}">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{meta_title}}</title>
        <link rel="stylesheet" href="{{asset 'built/screen.css'}}" />

        {{ghost_head}}
    </head>

    <body>

        <header class="outer">
            <nav class="inner">
                <a href="/">{{@site.title}}</a>
                {{navigation}}
                <button data-ghost-search>search</button>
                {{#unless @member}}
                    <a href="#/portal/signin" data-portal="signin">Sign In</a>
                    <a href="#/portal/signup" data-portal="signup">Subscribe</a>
                {{else}}
                    <a href="#/portal/account" data-portal="account">Account</a>
                {{/unless}}
            </nav>
        </header>

        {{{body}}}

        {{ghost_foot}}

    </body>

</html>